<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>listings</title>

    <!-- WinJS references -->
    <link href="listings.css" rel="stylesheet" />
    <script src="listings.js"></script>

</head>
<body>
    <h1> **** </h1>
    <div>
          <input type="text" name="startUrl"
               id="startUrl" hidden>
    </div>
    <div id="wipStatus">
        <span id="skippedContactsCount">-</span>
        <span id="savedContactsCount">-</span>
    </div>
    <div id="wipStatus">Ready ..</div>
    <div id="documentToScrape"></div>
    <div id="documentToScrape2"></div>
</body>
</html>
